.circle {
  height: 13rem;
  width: 13rem;
  border-radius: 10000px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
  transition: transform 0.2s width 0.2s, height 0.2s, margin 0.2s;

  .contents {
    margin: auto;
  }
  &:hover{
    height: 14rem;
    width: 14rem;
    margin: 0;
    transform: rotate(5deg);

  }
}
