.columns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.borders > .column {
  border-left: 1px solid black;
}

.borders > .column:first-child {
  border-left: none;
}
.column {
  flex-grow: 1;
  flex-basis: 0;
}
