.form {
  margin: auto;
 form{
  display: flex;
  flex-direction: column;
  
  input {
    margin-bottom: 1rem;
  }

  textarea {
    resize: none;
    height: 10rem;
    margin-bottom: 1rem;

  }
  input[type="submit"]{
      background: rgb(184, 184, 184);
  }
}}
