.header{
 
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: column;
    align-items:center;
    @media (min-width: 700px) {
        
        flex-direction: row;
        align-items: baseline;

    }
    h1{
        font-size: 2rem;
    }
    li a {
        font-size: 1.5rem;
    }
}

.header h1 a{
    display: inline-block;
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(247, 0, 255);
}

.header h1 a:hover{
    color: white;
    background: rgb(247, 0, 255);
    transform: rotate(5deg)
}

.nav ul{
    list-style-type: none;
    margin: 0;

}
.nav li {
    display: inline-block;
    padding: 1rem;
    margin: 0;
}
.nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #434343;
    display: inline-block;
}
.nav a:hover{
    background: #434343;
    color: white;
    transform: rotate(5deg);
}