.mug {
    height: 60px;
    transform: scaleY(5)
}
.mugInner {
    animation:  mugX 4s linear infinite ;

}
.mugWrapper {
    /* animation:  mugY 4s ease-in-out infinite alternate; */

    position: absolute;
    top: -60px;
    left: 150px;
    transform: scaleY(0.2)
}

.hero {
    position: relative;
}

 
@keyframes mugX {
    from {
       transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to{
       transform: rotate(360deg) translateX(150px) rotate(-360deg);

     }
}