.wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
}
  .sidebar {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-transform: uppercase;
    text-align: center;
    min-width: 1.5rem;
    width: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform: rotate(180deg);
  }
  .container {
    flex-grow: 1;
    display: flex;
    padding-bottom: 1.5rem;
  }
